<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        div.container {
            width: auto;
            overflow:hidden;
            display:  table-cell;
        }
        div.box
        {
            white-space:nowrap;
        }
        div.box div
        {
            display:inline-block;
            vertical-align: top;
        }
        nav
        {
            text-align: center;
        }
    </style>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
</head>
<header>
    <nav>
        <h3>
            <a href = "../">Домой</a> |
            <a href = "books">Книги</a> |
            <a href = "author">Авторы</a> |
            <a href = "genres">Жанры</a> |
            <a href = "all">Книги/авторы/жанры</a>
        </h3>
    </nav>
</header>
<body>

<div id="root"></div>


<script type="text/babel" src="/js/app.js"></script>

<div class = "container">
    <div class="box">
        <div>
            <table cellpadding="10">
                <tr align="center" bgcolor="#deb887">
                    <th><h2>Книга</h2></th>
                    <th><h2>Автор</h2></th>
                    <th><h2>Жанр</h2></th>
                </tr>
                {{#books}}
                    <tr align="center" bgcolor="#e8e1bb">
                        <td>{{name}}</td>
                        <td>{{#authors}}<p>{{name}}</p>{{/authors}}</td>
                        <td>{{genre}}</td>
                    </tr>
                {{/books}}
            </table>
        </div>
    </div>
</div>

</body>
</html>