<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
<div class="header-panel">
    <div class="topnav">
        <a class ="active" href = "../">Домой</a>
        <a href = "books">Книги</a>
        <a href = "author">Авторы</a>
        <a href = "genres">Жанры</a>
        <a href = "all">Книги/авторы/жанры</a>
    </div>
</div>
<div class = "container">
    <div class="box">
        <div class="wrapper-tb">
            <div class="table-box">
                <table class="main-table">
                    <tr align="center">
                        <th>Автор</th>
                        <th>Действие</th>
                    </tr>
                    {{#authors}}
                        <tr align="center">
                            <td>{{name}}</td>
                            <td>
                                <form method="post" action="editAuthor">
                                    <input type="hidden" name="id" value="{{id}}"/>
                                    <button class="button" type="submit">Редакт./Удалить</button>
                                </form>
                            </td>
                        </tr>
                    {{/authors}}
                </table>
            </div>
            <div class="add-block">
                <div class="text-fb">Добавить автора:</div>
                <div>
                    <form method = "post" action="addAuthor">
                        <p><input type = "text" name = "name" placeholder="Введите автора" /></p>
                        <button class="button" type="submit">Добавить</button>
                    </form>
                </div>
            </div>
            <div class="edit-block">
                {{#authorName}}
                    <div class="wrapper-tb">
                        <div>
                            <form method = "post" action="editAuthor1">
                                <input type="hidden" name="id" value="{{authorName.id}}"/>
                                <input type="text" name="name" value="{{authorName.name}}"/>
                                <button class="button" type="submit">Добавить</button>
                                <button class="button" formaction="deleteAuthor">Удалить</button>
                            </form>
                        </div>
                    </div>
                {{/authorName}}
            </div>
        </div>
    </div>
</div>

</body>
</html>