<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
<div class="header-panel">
    <div class="topnav">
        <a class ="active" href = "../">Домой</a>
        <a href = "books">Книги</a>
        <a href = "author">Авторы</a>
        <a href = "genres">Жанры</a>
        <a href = "all">Книги/авторы/жанры</a>
    </div>
</div>

<div class = "container">
    <div class="box">
        <div class="wrapper-tb">
            <div class="table-box">
                <table class="main-table">
                    <tr align="center">
                        <th>Книга</th>
                    </tr>
                    {{#books}}
                        <tr align="center">
                            <td>{{name}}</td>
                        </tr>
                    {{/books}}
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>