<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        div.container {
            width: auto;
            overflow:hidden;
            display:  table-cell;
        }
        div.box
        {
            white-space:nowrap;
        }
        div.box div
        {
            display:inline-block;
            vertical-align: top;
        }
    </style>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
</head>
<header>
    <div align="center"><h3>
        <form method="post" action="nav">
            <nav>
                <a href = "../">Домой</a> |
                <a type = "books">Книги</a> |
                <a type = "authors">Авторы</a> |
                <a type = "genres">Жанры</a> |
                <a type = "all">Книги/авторы/жанры</a>
            </nav>
        </form>
    </h3></div>
</header>
<body>

<div id="root"></div>


<script type="text/babel" src="/js/app.js"></script>

<div class = "container">
    <div class="box">

        <div>
            <table cellpadding="10">
                <tr align="center" bgcolor="#deb887">
                    <th><h2>Книга</h2></th>
                    <th><h2>Автор</h2></th>
                    <th><h2>Жанр</h2></th>
                    <th><h2>Действие</h2></th>
                </tr>
                {{#books}}
                    <tr align="center" bgcolor="#e8e1bb">
                        <td>{{name}}</td>
                        <td>{{author}}</td>
                        <td>{{genre}}</td>
                        <form method="post" action="edit">
                            <td>
                                <button id="{{id}}" type="submit">Редакт./Удалить</button>
                            </td>
                        </form>

                    </tr>
                {{/books}}
            </table>
        </div>

        <div>
            <form method="post" action="filter">

                <p>
                    <select name="author">
                        <option disabled selected>Фамилия автора</option>
                        {{#authors}}
                            <option>{{.}}</option>
                        {{/authors}}
                    </select>
                </p>
                <p>
                    <select name="genre">
                        <option disabled selected>Жанр книги</option>
                        {{#genres}}
                            <option>{{.}}</option>
                        {{/genres}}
                    </select>
                </p>
                <p><button type="submit">Найти</button></p>
            </form>
        </div>

    </div>
</div>

<div id="add"></div>

</body>
</html>