<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        nav
        {
            text-align: center;
        }
    </style>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
</head>
<header>
    <nav>
        <h3>
            <a href = "../">Домой</a> |
            <a href = "books">Книги</a> |
            <a href = "author">Авторы</a> |
            <a href = "genres">Жанры</a> |
            <a href = "all">Книги/авторы/жанры</a>
        </h3>
    </nav>
</header>
<body>
<table>
    <tr>
        <th>Жанры</th>
        <th>Действие</th>
    </tr>
    {{#books}}
        <tr>
            <td>{{genre}}</td>
            <td>
                <form method="post" action="editGenre">
                    <input type="hidden" name="id" value="{{id}}" formaction="editGenre"/>
                    <button type="submit">Редакт./Удалить</button>
                </form>
            </td>
        </tr>
    {{/books}}

    {{#genre}}
        <form method="post" action="editGenre1">
            <label><input type="hidden" name="id" value="{{id}}"/></label>
            <label><input type="text" name="genre" placeholder="Введите жанр" value="{{genre}}"></label>
            <button type="submit">Редактировать</button>
            <button formaction="deleteGenre">Удалить</button>
        </form>
    {{/genre}}
</table>
</body>
</html>