<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        body
        {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            margin: 0;
            background-color: #f4f4f4;
        }

        div.container {
            overflow:hidden;
        }
        div.box
        {
            white-space:nowrap;
        }
        div.box div
        {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: top;
            text-align: justify;
        }
        .table-box
        {
            text-align: justify;
        }

        .topnav {
            font-family: 'Noto Sans', sans-serif;
            background-color: #8ac858;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 64px;
            position: relative;
        }

        .topnav a {
            font-family: 'Noto Sans', sans-serif;
            font-weight: bold;
            float: left;
            color: #d8ffbc;
            align-items: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 15px;
            height: 64px;
            padding-top: 60px;
        }

        .topnav a:hover {

            background-color: burlywood;
            color: white;
            margin-top: 140px;
        }

        .header-panel
        {
            background-color: #3a547f;
        }
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

    </style>

</head>

<body>
<div class="header-panel">
    <div class="topnav">
        <a class ="active" href = "../">Домой</a>
        <a href = "books">Книги</a>
        <a href = "author">Авторы</a>
        <a href = "genres">Жанры</a>
        <a href = "all">Книги/авторы/жанры</a>
    </div>
</div>
<div id="root"></div>


<script type="text/babel" src="/js/app.js"></script>

<div class = "container">
    <div class="box">
        <div class="table-box">
            <table cellpadding="10">
                <tr align="center" bgcolor="#deb887">
                    <th><h2>Книга</h2></th>
                    <th><h2>Автор</h2></th>
                    <th><h2>Жанр</h2></th>
                    <th><h2>Действие</h2></th>
                </tr>
                {{#books}}
                    <tr align="center" bgcolor="#e8e1bb">
                        <td>{{name}}</td>
                        <td>{{#authors}}<p>{{name}}</p>{{/authors}}</td>
                        <td>{{genre}}</td>
                        <td>
                            <form method="post" action="/edit">
                                <input type="hidden" name="id" value="{{id}}"/>
                                <button type="submit">Редакт./Удалить</button>
                            </form>
                        </td>
                    </tr>
                {{/books}}
            </table>
        </div>

        <div class="filter-box">
            <form method="get" action="filter">

                <p>
                    <select name="author">
                        <option disabled selected>Фамилия автора</option>

                            {{#authors}}<option>{{name}}</option>{{/authors}}

                    </select>
                </p>
                <p>
                    <select name="genre">
                        <option disabled selected>Жанр книги</option>
                        {{#genres}}
                            <option>{{.}}</option>
                        {{/genres}}
                    </select>
                </p>
                <p><button type="submit">Найти</button></p>
            </form>
        </div>

    </div>
</div>

<div id="add"></div>
<details>
    <summary>Создать</summary>
    <div id="addBook">
        <form method = "post" action="add">
            <p><input type = "text" name = "name" placeholder="Введите название" /></p>
            <p><input type = "text" name = "genre" placeholder="Введите жанр" /></p>
            <p><select multiple name="author[]">
                {{#authors}}
                    <option>{{name}}</option>
                {{/authors}}
            </select>
            </p>
            <button type="submit">Добавить</button>
        </form>
    </div>
</details>
{{#editBook}}
    <details>
        <summary>Редактировать</summary>
        <div>
            <form method = "post" action="edit1">
                <input type="hidden" name="id" value="{{editBook.id}}"/>
                <p><input type = "text" name = "name" value = "{{editBook.name}}" /></p>
                <p><input type = "text" name = "genre" value = "{{editBook.genre}}" /></p>
                <p><select multiple name="author[]">
                    {{#author}}
                        <option>{{name}}</option>
                    {{/author}}
                </select>
                </p>
                <button type="submit">Добавить</button>
                <button formaction="delete">Удалить</button>
            </form>
        </div>
    </details>
{{/editBook}}



</body>
</html>