<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

</head>
<header>
    <div align="center"><h3>
        <nav>
            <a type = "main">Домой</a> |
            <a type = "Books">Книги</a> |
            <a type = "authors">Авторы</a> |
            <a type = "genres">Жанры</a> |
            <a type = "all">Книги/авторы/жанры</a>
        </nav>
    </h3></div>
</header>
<body>

<div id="root"></div>
<div id="add"></div>
<script type="text/babel" src="/js/main.js"></script>

<div>
    <table cellpadding="10">
        <tr align="center" bgcolor="#deb887">
            <th><h2>Книга</h2></th>
            <th><h2>Автор</h2></th>
            <th><h2>Жанр</h2></th>
            <th><h2>Действие</h2></th>
        </tr>
        {{#books}}
            <tr align="center" bgcolor="#e8e1bb">
                <td>{{name}}</td>
                <td>{{author}}</td>
                <td>{{genre}}</td>
            </tr>
        {{/books}}
    </table>
</div>
<div>
    <form method="post" action="filter">
        <select name="genre">
            {{#genres}}
                <option>{{.}}</option>
            {{/genres}}
        </select>
        <button type="submit">Найти</button>
    </form>
</div>

</body>
</html>