div.container {
    width: auto;
    overflow:hidden;
    display:  table-cell;
}
div.box
{
    white-space:nowrap;
}
div.box div
{
    display:inline-block;
    vertical-align: top;
}
.topnav {
    background-color: #3a547f;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #4b687f;
    color: white;
}
.topnav a.active {
    background-color: white;
    color: black;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v83/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}