@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0;
  background-color: #f4f4f4;
}

.add-block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-block {
  text-align: center;
}

.box {
  text-align: center;
}

div.container {
  overflow: hidden;
}

div.box {
  white-space: nowrap;
}

div.box div {
  margin: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  text-align: justify;
}

.table-box {
  text-align: justify;
}

.topNav {
  font-family: 'Noto Sans', sans-serif;
  background-color: #3a547f;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  position: relative;
}

.topNav a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  float: left;
  color: white;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  height: 64px;
  padding: 60px 16px 14px;
}

.topNav a:hover {

  color: white;
  background-color: #4b687f;
}

.header-panel {
  background-color: #3a547f;
}

.wrapper-fb {
  background-color: white;
  border: 1px solid #e9e9e9;
}

.wrapper-tb {
  background-color: white;
  border: 1px solid #e9e9e9;
}

.button {
  background-color: #3a547f;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

input {
  display: block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #444;
  padding: 6px 14px;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 5px;

}

select {
  display: block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #444;
  padding: 5px 14px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 5px;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  color: #222;
  outline: none;
}

select option {
  font-weight: normal;
}

*[dir="rtl"] select, :root:lang(ar) select, :root:lang(iw) select {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

.main-table, tr, th, td {
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

.text-fb, th {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

td {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.wrapper-tb div, .wrapper-fb div {
  margin: 10px;
}

.buttonEdit {
  background-color: #3a547f;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  margin-right: 5px;
}
